<?xml version="1.0" encoding="Shift_JIS" ?>

<plug-in>
	<title>建物セット</title>
	<author>烈火</author>
	<homepage></homepage>

	<contribution type="picture" id="{rk-tateya-009-cg-001-te}">
		<picture src="makudo01a.bmp">
			<override when="night" src="makudo01b.bmp"/>
		</picture>
	</contribution>
	<contribution type="picture" id="{rk-tateya-009-cg-001}">
		<picture src="makudo01a.bmp">
			<override when="night" src="makudo01b.bmp"/>
		</picture>
	</contribution>

	<contribution type="GenericStructure" id="{rk-tateya-009-001}">
		<name>ハンバーガー店</name>
		<price>3600000</price>
		<size>2,2</size>
		<height>1</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>90</base>
		</population>
		<design>音楽ホール</design>
		<structure>
			<category  byname="ファーストフード"/>
		</structure>
		<sprite origin="0,0" offset="16">
			<picture ref="{rk-tateya-009-cg-001}"/>
		</sprite>
		<sprite origin="64,0" offset="16">
			<picture ref="{rk-tateya-009-cg-001}"/>
		</sprite>
	</contribution>

	<contribution type="GenericStructure" id="{rk-tateya-009-002}">
		<name>ハンバーガー店</name>
		<price>3600000</price>
		<size>2,2</size>
		<height>1</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>90</base>
		</population>
		<design>音楽ホール</design>
		<structure>
			<category  byname="ファーストフード"/>
		</structure>
		<sprite origin="128,0" offset="16">
			<picture ref="{rk-tateya-009-cg-001}"/>
		</sprite>
		<sprite origin="192,0" offset="16">
			<picture ref="{rk-tateya-009-cg-001}"/>
		</sprite>
	</contribution>

</plug-in>