<?xml version="1.0" encoding="Shift_JIS" ?>
<!DOCTYPE plug-in [
	<!ENTITY unmannedRailStop "
		<price>100000</price>
		<size>1,1</size>
		<height>1</height>
	">
]>
<plug-in>
	<title>鉄道施設プラグイン</title>
	<author>綾瀬ヒロ→書き換えほりたけ</author>
	<homepage>http://www14.big.or.jp/~ayase/freetrain/</homepage>

	<contribution type="picture" id="{000000-2002-1212-AYASE-HORITAKE-RailStructure-img02}">
		<picture src="stoprail2.bmp" />
	</contribution>

	<contribution type="railStationary" id="{66D8CEFC-HORITAKE-44E9-BA8E-53F2986E3D8F}">
		<group>車止め(地面)</group>
		&unmannedRailStop;
		<sprite origin="0,0" offset="0">
			<picture ref="{000000-2002-1212-AYASE-HORITAKE-RailStructure-img02}"/>
		</sprite>
	</contribution>
	
	<contribution type="railStationary" id="{60EA6394-HORITAKE-4C97-822C-1B06458D42B4}">
		<group>車止め(地面)</group>
		&unmannedRailStop;
		<sprite origin="32,0" offset="0">
			<picture ref="{000000-2002-1212-AYASE-HORITAKE-RailStructure-img02}"/>
		</sprite>
	</contribution>
	<contribution type="railStationary" id="{988C4797-HORITAKE-478F-BB3D-34F1E1ACD2D5}">
		<group>車止め(地面)</group>
		&unmannedRailStop;
		<sprite origin="64,0" offset="0">
			<picture ref="{000000-2002-1212-AYASE-HORITAKE-RailStructure-img02}"/>
		</sprite>
	</contribution>
	
	<contribution type="railStationary" id="{5A9F67BA-HORITAKE-4248-A6AA-FE2CFBA0C76F}">
		<group>車止め(地面)</group>
		&unmannedRailStop;
		<sprite origin="96,0" offset="0">
			<picture ref="{000000-2002-1212-AYASE-HORITAKE-RailStructure-img02}"/>
		</sprite>
	</contribution>
</plug-in>
