<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
<author>foobar</author>
<homepage>http://foobar.ifdef.jp/</homepage>
<title></title>

<!-- 道路パターン -->
	<contribution type="picture" id="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"><picture src="road1x1-1.png"/></contribution>
	<contribution type="picture" id="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"><picture src="road1x1-2.png"/></contribution>
	<contribution type="picture" id="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"><picture src="road1x1-3.png"/></contribution>
	<contribution type="picture" id="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"><picture src="road1x1-4.png"/></contribution>
	<contribution type="picture" id="{89828F87-76A3-4643-9DE8-B97B9A64A00F-005}"><picture src="road1x1-5.png"/></contribution>

	<contribution type="GenericStructure" id="{A2A82101-EFEE-4467-8461-4BFAAA6C0A30-001}">
		<name>道路交差点パターン</name>
		<structure>
			<category byname="道路関連物"/>
		</structure>
		<price>1000000</price>
		<size>1,1</size>
		<height>1</height>
		<computerCannotBuild/>
		<design>[水平垂直]橙線二車線＋斜道路</design>
		<sprite origin="0,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="0,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="0,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="0,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="0,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="0,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="32,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="64,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
		<sprite origin="96,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-001}"/></sprite>
	</contribution>

	<contribution type="GenericStructure" id="{A2A82101-EFEE-4467-8461-4BFAAA6C0A30-002}">
		<name>道路交差点パターン</name>
		<structure>
			<category byname="道路関連物"/>
		</structure>
		<price>1000000</price>
		<size>1,1</size>
		<height>1</height>
		<computerCannotBuild/>
		<design>[水平垂直]白破線二車線＋斜道路</design>
		<sprite origin="0,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="0,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="0,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="0,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="0,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,128" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="0,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="32,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="64,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
		<sprite origin="96,160" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-002}"/></sprite>
	</contribution>

	<contribution type="GenericStructure" id="{A2A82101-EFEE-4467-8461-4BFAAA6C0A30-003}">
		<name>道路交差点パターン</name>
		<structure>
			<category byname="道路関連物"/>
		</structure>
		<price>1000000</price>
		<size>1,1</size>
		<height>1</height>
		<computerCannotBuild/>
		<design>水平垂直道路同士の十字交差点(1)</design>
		<sprite origin="0,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="32,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="64,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="96,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="0,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="32,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="64,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="96,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="0,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="32,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="64,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="96,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="0,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="32,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="64,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
		<sprite origin="96,96" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-003}"/></sprite>
	</contribution>

	<contribution type="GenericStructure" id="{A2A82101-EFEE-4467-8461-4BFAAA6C0A30-004}">
		<name>道路交差点パターン</name>
		<structure>
			<category byname="道路関連物"/>
		</structure>
		<price>1000000</price>
		<size>1,1</size>
		<height>1</height>
		<computerCannotBuild/>
		<design>水平垂直道路同士の十字交差点(2)</design>
		<sprite origin="0,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="32,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="64,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="96,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="0,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="32,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="64,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="96,32" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="0,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="32,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="64,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
		<sprite origin="96,64" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-004}"/></sprite>
	</contribution>

	<contribution type="GenericStructure" id="{A2A82101-EFEE-4467-8461-4BFAAA6C0A30-005}">
		<name>道路交差点パターン</name>
		<structure>
			<category byname="道路関連物"/>
		</structure>
		<price>1000000</price>
		<size>1,1</size>
		<height>1</height>
		<computerCannotBuild/>
		<design>水平垂直道路同士の十字交差点(3)</design>
		<sprite origin="0,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-005}"/></sprite>
		<sprite origin="32,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-005}"/></sprite>
		<sprite origin="64,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-005}"/></sprite>
		<sprite origin="96,0" offset="16"><picture ref="{89828F87-76A3-4643-9DE8-B97B9A64A00F-005}"/></sprite>
	</contribution>

<!-- 道路 -->
	<contribution type="road" id="{9D373E16-8647-49e5-A560-6305AD7481B0}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>田一般道/二車線/橙実線</name>
		<description>一般道</description>
		<picture src="road_2lane_greenbase.png" size="32,32" offset="16" >
			<override when="autumn" src="road_2lane_greenbase.autumn.png"/>
			<override when="winter" src="road_2lane_greenbase.winter.png"/>
		</picture>
	</contribution>

	<contribution type="road" id="{7405549B-7BE2-4b69-B725-5BF6230A5C64}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>都一般道/二車線/橙実線</name>
		<description>一般道</description>
		<picture src="road_2lane_graybase.png" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{B46015A3-490D-48b1-8070-C02B49CCBB5B}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>都無一般道/二車線/橙実線</name>
		<description>一般道</description>
		<picture src="road_2lane_nobase.png" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{3D628D01-939C-4127-891D-9FF144E604D4}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="1"/>
		<name>街一般道/一車線</name>
		<description>一般道</description>
		<picture src="road_1lane_asphalt.png" size="32,16" offset="0" />
	</contribution>

	<contribution type="road" id="{33F46588-41D0-40b9-B02B-9FF5C7111492}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>街一般道/二車線/白破線</name>
		<description>一般道</description>
		<picture src="road_2lane_white_asphalt.png" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{B1A057ED-155E-4911-964E-5E9F1527A48A}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>街一般道/二車線/橙実線</name>
		<description>一般道</description>
		<picture src="road_2lane_orange_asphalt.png" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{CA3F96DE-A6A3-47dd-9F70-4AC38983C8F9}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="1"/>
		<name>山一般道/一車線</name>
		<description>一般道</description>
		<picture src="road_1lane_mv.spr.png" size="32,16" offset="0" >
			<override when="summer" src="road_1lane_mv.sum.png"/>
			<override when="autumn" src="road_1lane_mv.aut.png"/>
			<override when="winter" src="road_1lane_mv.win.png"/>
		</picture>
	</contribution>

	<contribution type="road" id="{5DB000BD-01E1-4ed5-B840-C7F456023AB1}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>山一般道/白線二車線</name>
		<description>一般道</description>
		<picture src="road_2lane_white_mv.spr.png" size="32,16" offset="0" >
			<override when="summer" src="road_2lane_white_mv.sum.png"/>
			<override when="autumn" src="road_2lane_white_mv.aut.png"/>
			<override when="winter" src="road_2lane_white_mv.win.png"/>
		</picture>
	</contribution>

	<contribution type="road" id="{9C180355-9601-4420-8B16-BC50D1FAEF0A}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="street" sidewalk="shoulder" lanes="2"/>
		<name>山一般道/橙色二車線</name>
		<description>一般道</description>
		<picture src="road_2lane_orange_mv.spr.png" size="32,16" offset="0" >
			<override when="summer" src="road_2lane_orange_mv.sum.png"/>
			<override when="autumn" src="road_2lane_orange_mv.aut.png"/>
			<override when="winter" src="road_2lane_orange_mv.win.png"/>
		</picture>
	</contribution>

<!-- バラスト -->
	<contribution type="road" id="{13024108-B745-40de-8E13-A8363D65EDF1}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/茶/街</name>
		<description>バラスト</description>
		<picture src="ballast/b01.png" size="32,16" offset="0" />
	</contribution>

	<contribution type="road" id="{13024108-B745-40de-8E13-A8363D65EDF3}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/茶/田</name>
		<description>バラスト</description>
		<picture src="ballast/b02.png" size="32,16" offset="0">
			<override when="autumn" src="ballast/b02.aut.png" />
			<override when="winter" src="ballast/b02.win.png" />
		</picture>
	</contribution>

	<contribution type="road" id="{13024108-B745-40de-8E13-A8363D65EDF4}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/灰/街</name>
		<description>バラスト</description>
		<picture src="ballast/g01.png" size="32,16" offset="0" />
	</contribution>

	<contribution type="road" id="{13024108-B745-40de-8E13-A8363D65EDF5}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/灰/茶</name>
		<description>バラスト</description>
		<picture src="ballast/g04.png" size="32,16" offset="0" />
	</contribution>

	<contribution type="road" id="{13024108-B745-40de-8E13-A8363D65EDF7}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/灰/田</name>
		<description>バラスト</description>
		<picture src="ballast/g02.png" size="32,16" offset="0">
			<override when="autumn" src="ballast/g02.aut.png" />
			<override when="winter" src="ballast/g02.win.png" />
		</picture>
	</contribution>

	<contribution type="road" id="{874ED10E-9727-41ee-B6A4-7A7566776F30}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/茶/山</name>
		<description>バラスト</description>
		<picture src="ballast/b03.spr.png" size="32,16" offset="0">
			<override when="summer" src="ballast/b03.sum.png" />
			<override when="autumn" src="ballast/b03.aut.png" />
			<override when="winter" src="ballast/b03.win.png" />
		</picture>
	</contribution>

	<contribution type="road" id="{B5C2040A-6DE0-46f9-A48D-EB7A952D506F}">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<style name="railballast" />
		<name>バラスト/灰/山</name>
		<description>バラスト</description>
		<picture src="ballast/g03.spr.png" size="32,16" offset="0">
			<override when="summer" src="ballast/g03.sum.png" />
			<override when="autumn" src="ballast/g03.aut.png" />
			<override when="winter" src="ballast/g03.win.png" />
		</picture>
	</contribution>

</plug-in>

