<?xml version="1.0" encoding="Shift_JIS" ?> 
<plug-in>
  <title>札幌市交地下鉄セット</title>
  <author>北の汽車屋</author>
  <homepage></homepage>
<!-- 5000系先頭車 --> 
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST5000-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_5000_a.bmp" /> 
  </sprite>
  <capacity>128</capacity>
  <seatedcapacity>42</seatedcapacity> 
  </contribution>
<!-- 5000系最後尾車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST5000-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{669D5BDE-23F1-43BD-AC36-ST5000-A}" />  
  <capacity>128</capacity>
  <seatedcapacity>42</seatedcapacity> 
  </contribution> 
<!-- 5000系中間車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST5000-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_5000_b.bmp" /> 
  </sprite>
  <capacity>143</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution>
<!-- 8000系先頭車 --> 
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST8000-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_8000_a.bmp" /> 
  </sprite>
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution>
<!-- 8000系最後尾車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST8000-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{669D5BDE-23F1-43BD-AC36-ST8000-A}" />  
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution> 
<!-- 8000系中間車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST8000-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_8000_b.bmp" /> 
  </sprite>
  <capacity>140</capacity>
  <seatedcapacity>48</seatedcapacity> 
  </contribution>
<!-- 7000系旧先頭車 --> 
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000K-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_7000old_a.bmp" /> 
  </sprite>
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution>
<!-- 7000系旧最後尾車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000K-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{669D5BDE-23F1-43BD-AC36-ST7000K-A}" />  
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution> 
<!-- 7000系旧中間車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000K-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_7000old_b.bmp" /> 
  </sprite>
  <capacity>140</capacity>
  <seatedcapacity>48</seatedcapacity> 
  </contribution>
<!-- 7000系新先頭車 --> 
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000N-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_7000new_a.bmp" /> 
  </sprite>
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution>
<!-- 7000系新最後尾車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000N-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{669D5BDE-23F1-43BD-AC36-ST7000N-A}" />  
  <capacity>120</capacity>
  <seatedcapacity>45</seatedcapacity> 
  </contribution> 
<!-- 7000系新中間車 -->
　<contribution type="trainCar" id="{669D5BDE-23F1-43BD-AC36-ST7000N-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="ST_7000new_b.bmp" /> 
  </sprite>
  <capacity>140</capacity>
  <seatedcapacity>48</seatedcapacity> 
  </contribution>

 <contribution type="train" id="{57644AE6-7FFA-A231-8FE0-75-ST5000}">
<company>札幌市交通局</company>
<type>5000系</type>
<name>南北線</name>
<author>北の汽車屋</author>
<description></description>
<price>5600000</price>
<fare>420</fare> 
<amenity>100</amenity>
<speed>medium</speed>
<composition>
<head carRef="{669D5BDE-23F1-43BD-AC36-ST5000-A}"/>
<body carRef="{669D5BDE-23F1-43BD-AC36-ST5000-C}"/>
<tail carRef="{669D5BDE-23F1-43BD-AC36-ST5000-B}"/>
</composition>
</contribution>
 <contribution type="train" id="{57644AE6-7FFA-A231-8FE0-75-ST8000}">
<company>札幌市交通局</company>
<type>8000系</type>
<name>東西線</name>
<author>北の汽車屋</author>
<description></description>
<price>5600000</price>
<fare>450</fare> 
<amenity>100</amenity>
<speed>medium</speed>
<composition>
<head carRef="{669D5BDE-23F1-43BD-AC36-ST8000-A}"/>
<body carRef="{669D5BDE-23F1-43BD-AC36-ST8000-C}"/>
<tail carRef="{669D5BDE-23F1-43BD-AC36-ST8000-B}"/>
</composition>
</contribution>
 <contribution type="train" id="{57644AE6-7FFA-A231-8FE0-75-ST7000K}">
<company>札幌市交通局</company>
<type>7000系(旧塗装)</type>
<name>東豊線</name>
<author>北の汽車屋</author>
<description></description>
<price>5600000</price>
<fare>440</fare> 
<amenity>100</amenity>
<speed>medium</speed>
<composition>
<head carRef="{669D5BDE-23F1-43BD-AC36-ST7000K-A}"/>
<body carRef="{669D5BDE-23F1-43BD-AC36-ST7000K-C}"/>
<tail carRef="{669D5BDE-23F1-43BD-AC36-ST7000K-B}"/>
</composition>
</contribution>
 <contribution type="train" id="{57644AE6-7FFA-A231-8FE0-75-ST7000N}">
<company>札幌市交通局</company>
<type>7000系(新塗装)</type>
<name>東豊線</name>
<author>北の汽車屋</author>
<description></description>
<price>5600000</price>
<fare>440</fare> 
<amenity>100</amenity>
<speed>medium</speed>
<composition>
<head carRef="{669D5BDE-23F1-43BD-AC36-ST7000N-A}"/>
<body carRef="{669D5BDE-23F1-43BD-AC36-ST7000N-C}"/>
<tail carRef="{669D5BDE-23F1-43BD-AC36-ST7000N-B}"/>
</composition>
</contribution>
</plug-in>