<?xml version="1.0" encoding="Shift_JIS"?>
 
  <plug-in>
   <title>京急1000系列プラグイン</title>
   <author>201-nishi</author>
   <homepage></homepage>
 
   <!-- 京急1000先頭車 -->
   <contribution type="trainCar" id="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前">
     <class name="freetrain.contributions.train.AsymTrainCarImpl" />
     <capacity>140</capacity>
     <seatedcapacity>54</seatedcapacity>
     <sprite origin="0,0">
      <picture src="1000a.bmp"/>      
     </sprite>
   </contribution>

   <!-- 京急1000中間車 -->
   <contribution type="trainCar" id="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-中">
     <class name="freetrain.contributions.train.SymTrainCarImpl" />
     <capacity>140</capacity>
     <seatedcapacity>60</seatedcapacity>
     <sprite origin="0,0">
      <picture src="1000b.bmp"/>      
     </sprite>
   </contribution>

   <!-- 京急1000後尾車 -->   
   <contribution type="trainCar" id="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-後">
   　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
 　　<base carRef="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前"/>
 　</contribution>

 
   <contribution type="train" id="{201-nishi-Keikyu-1000-train-Kotei-4ECEE83C543B-Aa}">
     <company>京浜急行電鉄</company>
     <type>1000形</type>
     <name>固定編成(中速)</name>
     <author>201-nishi</author>
     <description>1959年に登場し、それ以来京急線の全線で使用されてきた車種。2～8両までの偶数両のみ購入可能。2・8両固定編成は現存せず。</description>
		<fare>400</fare>
		<price>28000000</price>
		<amenity>95</amenity>
     <speed>medium</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前" /> 
     <car char="中" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-中" /> 
     <car char="後" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後中中前</composition>
     <composition>後中中中中前</composition>
     <composition>後中中中中中中前</composition>
     </config>
   </contribution>
   
   <contribution type="train" id="{201-nishi-Keikyu-1000-train-Kotei-4ECEE83C543B-Ab}">
     <company>京浜急行電鉄</company>
     <type>1000形</type>
     <name>固定編成(高速)</name>
     <author>201-nishi</author>
     <description>1959年に登場し、それ以来京急線の全線で使用されてきた車種。2～8両までの偶数両のみ購入可能。2・8両固定編成は現存せず。</description>
		<fare>400</fare>
		<price>28000000</price>
		<amenity>95</amenity>
     <speed>fast</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前" /> 
     <car char="中" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-中" /> 
     <car char="後" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後中中前</composition>
     <composition>後中中中中前</composition>
     <composition>後中中中中中中前</composition>
     </config>
   </contribution>
   
   <contribution type="train" id="{201-nishi-Keikyu-1000-train-Bunkatsu-4ECEE83C543B-Ba}">
     <company>京浜急行電鉄</company>
     <type>1000形</type>
     <name>分割編成(中速)</name>
     <author>201-nishi</author>
     <description>1959年に登場し、それ以来京急線の全線で使用されてきた車種。8・12両のみ購入可能。</description>
		<fare>400</fare>
		<price>28000000</price>
		<amenity>95</amenity>
     <speed>medium</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前" /> 
     <car char="中" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-中" /> 
     <car char="後" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-後" />
     <composition>後中中前後中中前</composition>
     <composition>後中中前後中中前後中中前</composition>
     </config>
   </contribution>
   
   <contribution type="train" id="{201-nishi-Keikyu-1000-train-Bunkatsu-4ECEE83C543B-Bb}">
     <company>京浜急行電鉄</company>
     <type>1000形</type>
     <name>分割編成(高速)</name>
     <author>201-nishi</author>
     <description>1959年に登場し、それ以来京急線の全線で使用されてきた車種。8・12両のみ購入可能。</description>
		<fare>400</fare>
		<price>28000000</price>
		<amenity>95</amenity>
     <speed>fast</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-前" /> 
     <car char="中" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-中" /> 
     <car char="後" ref="{201-nishi-keikyu-1000-traincar-4ECEE83C543B}-後" />
     <composition>後中中前後中中前</composition>
     <composition>後中中前後中中前後中中前</composition>
     </config>
   </contribution>
   
   <!-- 琴電1080先頭車 -->
   <contribution type="trainCar" id="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-前">
     <class name="freetrain.contributions.train.AsymTrainCarImpl" />
     <capacity>140</capacity>
     <seatedcapacity>54</seatedcapacity>
     <sprite origin="0,0">
      <picture src="1080a.bmp"/>      
     </sprite>
   </contribution>

   <!-- 琴電1080後尾車 -->   
   <contribution type="trainCar" id="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-後">
   　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
 　　<base carRef="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-前"/>
 　</contribution>

 
   <contribution type="train" id="{201-nishi-kotoden-1080-train-4ECEE83C543B-A}">
     <company>高松琴平電鉄</company>
     <type>1080形</type>
     <name>琴平線(中速)</name>
     <author>201-nishi</author>
     <description>当時非冷房車が多かった琴電の冷房化をするため、京急で廃車になった1000形を改造して琴電で使用している車両。1080形は琴平線の車両で、黄色の帯が塗られている。2、4両編成のみ購入可能。</description>
		<fare>400</fare>
		<price>26000000</price>
		<amenity>95</amenity>
     <speed>medium</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-前" /> 
     <car char="後" ref="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後前後前</composition>
     </config>
   </contribution>
   
   <contribution type="train" id="{201-nishi-kotoden-1080-train-4ECEE83C543B-B}">
     <company>高松琴平電鉄</company>
     <type>1080形</type>
     <name>琴平線(低速)</name>
     <author>201-nishi</author>
     <description>当時非冷房車が多かった琴電の冷房化をするため、京急で廃車になった1000形を改造して琴電で使用している車両。1080形は琴平線の車両で、黄色の帯が塗られている。2、4両編成のみ購入可能。</description>
		<fare>400</fare>
		<price>26000000</price>
		<amenity>95</amenity>
     <speed>slow</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-前" /> 
     <car char="後" ref="{201-nishi-kotoden-1080-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後前後前</composition>
     </config>
   </contribution>
   
   <!-- 琴電1300先頭車 -->
   <contribution type="trainCar" id="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-前">
     <class name="freetrain.contributions.train.AsymTrainCarImpl" />
     <capacity>140</capacity>
     <seatedcapacity>54</seatedcapacity>
     <sprite origin="0,0">
      <picture src="1300a.bmp"/>      
     </sprite>
   </contribution>

   <!-- 琴電1300後尾車 -->   
   <contribution type="trainCar" id="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-後">
   　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
 　　<base carRef="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-前"/>
 　</contribution>

 
   <contribution type="train" id="{201-nishi-kotoden-1300-train-4ECEE83C543B-A}">
     <company>高松琴平電鉄</company>
     <type>1300形</type>
     <name>長尾線(中速)</name>
     <author>201-nishi</author>
     <description>当時非冷房車が多かった琴電の冷房化をするため、京急で廃車になった1000形を改造して琴電で使用している車両。1300形は長尾線の車両で、緑色の帯が塗られている。2、4両編成のみ購入可能。</description>
		<fare>400</fare>
		<price>26000000</price>
		<amenity>95</amenity>
     <speed>medium</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-前" /> 
     <car char="後" ref="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後前後前</composition>
     </config>
   </contribution>
   
   <contribution type="train" id="{201-nishi-kotoden-1300-train-4ECEE83C543B-B}">
     <company>高松琴平電鉄</company>
     <type>1300形</type>
     <name>長尾線(低速)</name>
     <author>201-nishi</author>
     <description>当時非冷房車が多かった琴電の冷房化をするため、京急で廃車になった1000形を改造して琴電で使用している車両。1300形は長尾線の車両で、緑色の帯が塗られている。2、4両編成のみ購入可能。</description>
		<fare>400</fare>
		<price>26000000</price>
		<amenity>95</amenity>
     <speed>slow</speed>
     <class name="freetrain.contributions.train.PatternTrainImpl"/>
     <config>
     <car char="前" ref="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-前" /> 
     <car char="後" ref="{201-nishi-kotoden-1300-traincar-4ECEE83C543B}-後" />
     <composition>後前</composition> 
     <composition>後前後前</composition>
     </config>
   </contribution>
  </plug-in>
