<?xml version="1.0" encoding="Shift_JIS" ?> 
 <plug-in>
  <title>建物総合コンバート　モガミ</title> 
  <author>りおりお</author> 
  <homepage>http://www.hiyohiyo.info/~riorio/freetrain/</homepage> 
  <depend on="jp.geocities.mogami00.NY2bilding" />


  <contribution type="GenericStructure" id="{39A2426B-3B43-4B0F-9BFD-F6850EE9476A}-gs">
  <group>NY風高層分譲マンション2</group> 
  <price>60000000</price> 
  <size>2,2</size> 
  <structure>
  <category byname="分譲マンション" /> 
  </structure>
  <height>13</height> 
  <population>
  <class name="freetrain.contributions.population.OfficePopulation" /> 
  <base>2100</base> 
  </population>
  <sprite origin="0,0" offset="195">
  <picture ref="{1A457D7C-E7EB-47F6-843B-6ECCE3FEEE23}" /> 
  </sprite>
　<computerCannotBuild />
  </contribution>
  </plug-in>