<?xml version="1.0" encoding="Shift_JIS" ?>
<!DOCTYPE plug-in [
<!ENTITY Population '
		<population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>10</base>
		</population>
'>
]>
<plug-in>
	<title>GenericStructureコンバート c477さん農家</title>
	<homepage>http://www.hiyohiyo.info/~riorio/freetrain/</homepage>
	<author>りおりお</author>
	<depend on="org.kohsuke.freetrain.land.477" />
	
	<contribution type="GenericStructure" id="{7775E0B1-AF3E-46A4-A0E6-06AF87989A7E}-gs">
		<name>農家</name>
		<design>(大)A</design>
		<price>1000000</price>
		<size>2,2</size>
		<height>1</height>
		<structure>
			<category byname="一戸建て" />
		</structure>
		<sprite origin="0,0" offset="16">
			<picture ref="{BBDB4BE4-FAFE-490B-916F-4B11DCFB8182}"  />
		</sprite>
		<sprite origin="64,0" offset="16">
			<picture ref="{BBDB4BE4-FAFE-490B-916F-4B11DCFB8182}"  />
		</sprite>
		&Population;
	</contribution>


	
	<contribution type="GenericStructure" id="{01799382-3860-4BF6-BE11-F2E40DA093E7}-gs">
		<name>農家</name>
		<design>(大)B</design>
		<structure>
			<category byname="一戸建て" />
		</structure>
		<price>1000000</price>
		<size>2,2</size>
		<height>1</height>
		<sprite origin=" 0,0" offset="16">
			<picture ref="{29ECCBC4-BCCB-4E72-AF90-7325A811194E}" />
		</sprite>
		<sprite origin="64,0" offset="16">
			<picture ref="{29ECCBC4-BCCB-4E72-AF90-7325A811194E}" />
		</sprite>
		&Population;
	</contribution>


	<contribution type="GenericStructure" id="{95F5EF63-1B4D-4EE3-8BF3-4BD5B7AC5311}-gs">
		<name>農家</name>
		<design>(中)A</design>
		<structure>
			<category byname="一戸建て" />
		</structure>
		<price>1000000</price>
		<size>2,1</size>
		<height>2</height>
		<sprite origin="0,0" offset="32">
			<picture ref="{171F794F-5305-4DCE-8BBD-9CFEB33BC5C2}"/>
		</sprite>
		<sprite origin="48,0" offset="24" opposite="true">
			<picture ref="{171F794F-5305-4DCE-8BBD-9CFEB33BC5C2}"/>
		</sprite>
		<sprite origin="96,0" offset="32">
			<picture ref="{171F794F-5305-4DCE-8BBD-9CFEB33BC5C2}"/>
		</sprite>
		<sprite origin="144,0" offset="24" opposite="true">
			<picture ref="{171F794F-5305-4DCE-8BBD-9CFEB33BC5C2}"/>
		</sprite>
		&Population;
	</contribution>
	
	
	<contribution type="GenericStructure" id="{D730EC7C-97BD-471D-A4C1-BB2CCD17EAE7}-gs">
		<name>農家</name>
		<design>(中)B</design>
		<structure>
			<category byname="一戸建て" />
		</structure>
		<price>1000000</price>
		<size>2,1</size>
		<height>2</height>
		<sprite origin="0,0" offset="32">
			<picture ref="{8A2DF9AA-92CA-4760-8064-7973A52AF760}"/>
		</sprite>
		<sprite origin="48,0" offset="24" opposite="true">
			<picture ref="{8A2DF9AA-92CA-4760-8064-7973A52AF760}"/>
		</sprite>
		<sprite origin="96,0" offset="32">
			<picture ref="{8A2DF9AA-92CA-4760-8064-7973A52AF760}"/>
		</sprite>
		<sprite origin="144,0" offset="24" opposite="true">
			<picture ref="{8A2DF9AA-92CA-4760-8064-7973A52AF760}"/>
		</sprite>
		&Population;
	</contribution>
	
</plug-in>
