<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
<author>foobar</author>
<homepage>http://foobar.ifdef.jp</homepage>
<title>列車</title>
<!-- TAKUROUさんの「キハ３１」を流用したキハ54-500 -->
<depend on="jp.dion.kei_s.freetrain.train.TAKUROU" />

	<!-- キハ54-500 -->

		<!-- 車輌定義 -->
		<contribution type="trainCar" id="{3594DB9F-87AC-447f-A06A-5D1CA30658DE}">
			<class name="freetrain.contributions.train.SymTrainCarImpl" />
			<sprite origin="0,0">
				<spriteType name="colorMapped">
					<map from="0,0,255" to="190,42,38"/>
				</spriteType>
				<picture ref="{6CAFE16C-74FE-11D7-A4B7-444553540000}" />
			</sprite>
			<capacity>100</capacity>
			<seatedcapacity>70</seatedcapacity>
		</contribution>

		<!-- 列車定義 -->
		<contribution type="train" id="{C9FC390D-64A1-42bf-A456-F8D8A95867B2}">
			<company>旧日本国有鉄道</company>
			<type>キハ54系500番台</type>
			<name>キハ54-500のみ</name>
			<author>foobar</author>
			<description>キハ54-500のみの編成</description>
		<fare>500</fare>
		<price>35000000</price>
		<amenity>100</amenity>
		<triprange>middle</triprange>
			<speed>slow</speed>
			<composition>
				<body carRef="{3594DB9F-87AC-447f-A06A-5D1CA30658DE}"/>
			</composition>
		</contribution>

	<!-- キハ53-500 -->

		<!-- 車輌定義 -->
		<contribution type="trainCar" id="{A7ABE8F1-5661-40ac-B9E0-9B5016E82ED6}">
			<class name="freetrain.contributions.train.AsymTrainCarImpl" />
			<sprite origin="0,0"><picture src="kiha53500.png" /></sprite>
			<capacity>82</capacity>
			<seatedcapacity>74</seatedcapacity>
		</contribution>

		<!-- 列車定義 -->
		<contribution type="train" id="{2111E09F-6C00-48d7-AE20-7EC1E4910E6E}">
			<company>旧日本国有鉄道</company>
			<type>キハ53系500番台</type>
			<name>キハ53-500のみ</name>
			<author>foobar</author>
			<description>キハ53-500のみの編成</description>
		<fare>500</fare>
		<price>30000000</price>
		<triprange>middle</triprange>
		<amenity>90</amenity>
			<speed>slow</speed>
			<composition>
				<body carRef="{A7ABE8F1-5661-40ac-B9E0-9B5016E82ED6}"/>
			</composition>
		</contribution>

</plug-in>
