<?xml version="1.0" encoding="Shift_JIS"?>
<plug-in>
<title>名古屋臨海高速鉄道</title>
<author>なもー</author>
	<homepage>http://www.medias.co.jp/~bell8528/freetrain/</homepage>

<!-- あおなみ線先頭 -->
<contribution type="trainCar" id="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-1}">
	<class name="freetrain.contributions.train.AsymTrainCarImpl" />
	<sprite origin="0,0">
	<picture src="aonami.bmp" />
	</sprite>
	<capacity>96</capacity>
	<seatedcapacity>52</seatedcapacity>
</contribution>

<!-- 中間 -->
<contribution type="trainCar" id="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-2}">
	<class name="freetrain.contributions.train.SymTrainCarImpl" />
	<sprite origin="0,0">
	<picture src="aonamib.bmp" />
	</sprite>
	<capacity>107</capacity>
	<seatedcapacity>60</seatedcapacity>
</contribution>

<!-- 後尾 -->
<contribution type="trainCar" id="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-3}">
	<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
	<base carRef="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-1}"/>
</contribution>

<contribution type="train" id="{DD0220E0-7998-4E8B-A17D-C6116089B1CF}">
	<company>名古屋臨海高速鉄道</company>
	<type>1000形</type>
	<name>あおなみ線</name>
	<speed>medium</speed>
	<author>なもー</author>
		<fare>400</fare>
		<price>28000000</price>
		<amenity>100</amenity>
<description>
国際港湾・名古屋港と名古屋都心部を直結する路線として、平成16年10月6日、全線開業いたしました。
</description>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-1}"/>
<car char="中" ref="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-2}"/>
<car char="後" ref="{DD0220E0-7998-4E8B-A17D-C6116089B1CF-3}"/>


<composition>前中中後</composition>
</config>


</contribution>
</plug-in>