<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
	<title>建物総合コンバート　綾瀬ヒロ</title>
	<author>りおりお</author>
	<homepage>http://www.hiyohiyo.info/~riorio/freetrain/</homepage>
	<depend on="jp.big.ayase.freetrain.structure.roadbridge" />
	
	
	<contribution type="GenericStructure" id="{FreeTrain-AYASE-Hiro-StructureImpl-hashi-01a}-gs">
		<group>道路橋</group>
		<price>1000000</price>
		<height>2</height>
		<size>4,3</size>
		<structure>
			<category byname="道路関連物" />
		</structure>
		<sprite origin="0,0" offset="24">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-01}"/>
		</sprite>
		<sprite origin="112,0" offset="16" opposite="true">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-01}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>

	<contribution type="GenericStructure" id="{FreeTrain-AYASE-Hiro-StructureImpl-hashi-02a}-gs">
		<group>道路橋</group>
		<price>1000000</price>
		<height>2</height>
		<size>4,3</size>
		<structure>
			<category byname="道路関連物" />
		</structure>
		<sprite origin="0,0" offset="24">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-02}"/>
		</sprite>
		<sprite origin="112,0" offset="16" opposite="true">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-02}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>

	<contribution type="GenericStructure" id="{FreeTrain-AYASE-Hiro-StructureImpl-hashi-03a}-gs">
		<group>道路橋</group>
		<price>1000000</price>
		<height>2</height>
		<size>4,3</size>
		<structure>
			<category byname="道路関連物" />
		</structure>
		<sprite origin="0,0" offset="24">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-03}"/>
		</sprite>
		<sprite origin="112,0" offset="16" opposite="true">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-03}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>

	<contribution type="GenericStructure" id="{FreeTrain-AYASE-Hiro-StructureImpl-hashi-04a}-gs">
		<group>道路橋</group>
		<price>1000000</price>
		<height>2</height>
		<size>4,3</size>
		<structure>
			<category byname="道路関連物" />
		</structure>
		<sprite origin="0,0" offset="24">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-04}"/>
		</sprite>
		<sprite origin="112,0" offset="16" opposite="true">
			<picture ref="{FreeTrain-AYASE-Hiro-StructureImage-hashi-04}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>
</plug-in>
