<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
	<depend on="FreeTrain.org.name.fujiTV" />
	<title>建物総合コンバート　周</title>
	<author>りおりお</author>
	<homepage>http://www.hiyohiyo.info/~riorio/freetrain/</homepage>

 <contribution type="picture" id="{AACA403C-56ED-418C-8444-ED4CB868234C}-pict">
	<picture src="../FreeTrain.org.name.fujiTV/fuji.bmp" />
 </contribution>

	
 <contribution type="GenericStructure" id="{AACA403C-56ED-418C-8444-ED4CB868234C}-gs">
		<name>フジテレビ</name>
		<price>10000000</price>
		<size>8,2</size>
		<height>6</height>

     <population>
       <class name="freetrain.contributions.population.OfficePopulation"/>
       <base>1000</base>
     </population>

		<sprite origin="0,0" offset="131">
		<picture ref="{AACA403C-56ED-418C-8444-ED4CB868234C}-pict" />
		</sprite>
		<structure>
			<category  byname="放送メディア" />
			<category  byname="ランドマーク" />
		</structure>
		<computerCannotBuild/>
	</contribution>

</plug-in>