<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
	<title>建物総合コンバート　しの</title>
	<author>りおりお</author>
	<homepage>http://www.hiyohiyo.info/~riorio/freetrain/</homepage>
	<depend on="FreeTrain.structure.piugin.1.shino" />

	<contribution type="picture" id="{S5776500-E8E5-4D5E-B30A-A0036A6ECDEB}-pict">
		<picture src="../FreeTrain.structure.piugin.1.shino/kokusai.bmp" />
	</contribution>

	
	<contribution type="GenericStructure" id="{S5776500-E8E5-4D5E-B30A-A0036A6ECDEB}-gs">
		<group>国際展示場</group>
		<price>50000000</price>
		<size>4,7</size>
		<height>2</height>
		<sprite origin="0,0" offset="37">
		<picture ref="{S5776500-E8E5-4D5E-B30A-A0036A6ECDEB}-pict" />
		</sprite>
		<structure>
			<category byname="イベント会場" />
			<category byname="展示場" />
		</structure>
		<computerCannotBuild/>
	</contribution>
</plug-in>