<?xml version="1.0" encoding="Shift_JIS" ?> 
<plug-in>
  <title>東京地下鉄補完計画その1</title> 
  <author>北の汽車屋</author> 
  <homepage>karlos427@hotmail.com</homepage>
<!-- 東京メトロ10000系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TM10000-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan10000_a.bmp" /> 
  </sprite>
  <capacity>124</capacity> 
  <seatedcapacity>48</seatedcapacity> 
  </contribution>
<!-- 東京メトロ10000系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TM10000-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-9-TM10000-A}"/> 
  </contribution> 
<!-- 東京メトロ10000系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TM10000-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan10000_b.bmp" /> 
  </sprite>
  <capacity>133</capacity> 
  <seatedcapacity>54</seatedcapacity> 
  </contribution>
<!-- 営団03系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan03_a.bmp" /> 
  </sprite>
  <capacity>124</capacity>
  <seatedcapacity>46</seatedcapacity>
  </contribution>
<!-- 営団03系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-A}"/> 
  </contribution> 
<!-- 営団03系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan03_b.bmp" /> 
  </sprite>
  <capacity>136</capacity>
  <seatedcapacity>52</seatedcapacity>
  </contribution>
<!-- 営団03系5ドア先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-D}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan03_5door_a.bmp" /> 
  </sprite>
  <capacity>124</capacity>
  <seatedcapacity>32</seatedcapacity>
  </contribution>
<!-- 営団03系5ドア最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-E}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-D}"/> 
  </contribution> 
<!-- 営団03系5ドア中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-F}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan03_5door_b.bmp" /> 
  </sprite>
  <capacity>137</capacity> 
  <seatedcapacity>40</seatedcapacity> 
  </contribution>
<!-- 営団05系(旧)先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan05old_a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  <seatedcapacity>50</seatedcapacity> 
  </contribution>
<!-- 営団05系(旧)最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-A}"/> 
  </contribution> 
<!-- 営団05系(旧)中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan05old_b.bmp" /> 
  </sprite>
  <capacity>154</capacity> 
  <seatedcapacity>60</seatedcapacity> 
  </contribution>
<!-- 営団06系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan06_a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  <seatedcapacity>50</seatedcapacity> 
  </contribution>
<!-- 営団06系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-A}"/> 
  </contribution> 
<!-- 営団06系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan06_b.bmp" /> 
  </sprite>
  <capacity>154</capacity> 
  <seatedcapacity>60</seatedcapacity> 
  </contribution>
<!-- 営団07系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan07_a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  <seatedcapacity>50</seatedcapacity> 
  </contribution>
<!-- 営団07系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-A}"/> 
  </contribution> 
<!-- 営団07系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan07_b.bmp" /> 
  </sprite>
  <capacity>154</capacity> 
  <seatedcapacity>60</seatedcapacity> 
  </contribution>
<!-- 営団07系東西線先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan07t_a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  <seatedcapacity>50</seatedcapacity> 
  </contribution>
<!-- 営団07系東西線最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-A}"/> 
  </contribution> 
<!-- 営団07系東西線中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan07t_b.bmp" /> 
  </sprite>
  <capacity>154</capacity> 
  <seatedcapacity>60</seatedcapacity> 
  </contribution>
<!-- 営団01系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan01_an.bmp" /> 
  </sprite>
  <capacity>100</capacity>
  <seatedcapacity>36</seatedcapacity>
  </contribution>
<!-- 営団01系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-A}"/> 
  </contribution> 
<!-- 営団01系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan01_bn.bmp" /> 
  </sprite>
  <capacity>102</capacity>
  <seatedcapacity>44</seatedcapacity>
  </contribution>
<!-- 営団02系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan02_an.bmp" /> 
  </sprite>
  <capacity>124</capacity>
  <seatedcapacity>42</seatedcapacity>
  </contribution>
<!-- 営団02系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-A}"/> 
  </contribution> 
<!-- 営団02系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan02_bn.bmp" /> 
  </sprite>
  <capacity>136</capacity>
  <seatedcapacity>52</seatedcapacity>
  </contribution>
<!-- 営団7000系副都心線先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan7000f_a.bmp" /> 
  </sprite>
  <capacity>136</capacity> 
  <seatedcapacity>48</seatedcapacity> 
  </contribution>
<!-- 営団7000系副都心線最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-A}"/> 
  </contribution> 
<!-- 営団7000系副都心線中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="eidan7000f_b.bmp" /> 
  </sprite>
  <capacity>144</capacity> 
  <seatedcapacity>54</seatedcapacity> 
  </contribution>
<!-- 東葉2000系先頭車 --> 
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-A}">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="Toyo2000_a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  <seatedcapacity>50</seatedcapacity> 
  </contribution>
<!-- 東葉2000系最後尾車 -->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-B}">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-A}"/> 
  </contribution> 
<!-- 東葉2000系中間車-->
　<contribution type="trainCar" id="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-C}">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="Toyo2000_b.bmp" /> 
  </sprite>
  <capacity>154</capacity> 
  <seatedcapacity>60</seatedcapacity> 
  </contribution>

<contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-W}">
<company>帝都高速度交通営団</company>
<type>01系</type>
<name>銀座線　</name>
<author>北の汽車屋</author>
<description>旧型車置き換えのために登場した銀座線車両。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN01-B}"/>
 </composition>
</contribution>
  <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-W}">
<company>帝都高速度交通営団</company>
<type>02系</type>
<name>丸の内線　</name>
<author>北の汽車屋</author>
<description>旧型車置き換えのために登場した丸の内線車両。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN02-B}"/>
 </composition>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-W}">
<company>帝都高速度交通営団</company>
<type>03系</type>
<name>日比谷線</name>
<author>北の汽車屋</author>
<description>旧式化した3000系置き換えのために導入された新型車両。生産時期によって動力機器やドア配置に違いがある。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-B}"/>
 </composition>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-EIDAN03-5D-W}">
<company>帝都高速度交通営団</company>
<type>03系5ドア車</type>
<name>日比谷線</name>
<author>北の汽車屋</author>
<description>03系のバリエーション。両端2車を5ドアにしたタイプ。しかし生産は再び3ドアに戻るなど混乱を見せた。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="D" ref="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-D}"/>
<car char="F" ref="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-F}"/>
<car char="E" ref="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-E}"/>
<car char="C" ref="{757F660D-9BC9-48E4-9E1F-91-EIDAN03-C}"/> 
<composition>DCCE</composition>
<composition>DFCCFE</composition>
<composition>DFCCCCFE</composition>
<composition>DFCCCCCCFE</composition>
<composition>DFCCCCFEDCCE</composition>
</config>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-W}">
<company>帝都高速度交通営団</company>
<type>05系(旧)</type>
<name>東西線</name>
<author>北の汽車屋</author>
<description>旧式化した5000系置き換えのために導入された新型車両。1～4次車はこのような保守的なデザインだったが、5次車以降は斬新なスタイルへと大幅に変化した。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-99-EIDAN05-B}"/>
 </composition>
</contribution> 
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-W}">
<company>帝都高速度交通営団</company>
<type>06系</type>
<name>千代田線</name>
<author>北の汽車屋</author>
<description>輸送力増強のために千代田線に一編成のみ導入された新車。その後増備はされていない。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN06-B}"/>
 </composition>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-W}">
<company>帝都高速度交通営団</company>
<type>07系</type>
<name>有楽町線</name>
<author>北の汽車屋</author>
<description>輸送力増強のために有楽町線に導入された新車。06系と違い、数編成が増備され活躍していた。
副都心線開通に伴い、ホームドア対応の関係で全編成東西線に転属した。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07-B}"/>
 </composition>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-W}">
<company>帝都高速度交通営団</company>
<type>07系</type>
<name>東西線</name>
<author>北の汽車屋</author>
<description>副都心線開業に伴う有楽町線のホームドア設置に対応できないため、07系は東西線へ移籍した。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN07T-B}"/>
 </composition>
</contribution>
  <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-W}">
<company>帝都高速度交通営団</company>
<type>7000系</type>
<name>副都心線</name>
<author>北の汽車屋</author>
<description>有楽町線の7000系は、その一部編成が組み換えなどののち副都心線乗り入れに対応した。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-91-EIDAN7000F-B}"/>
 </composition>
</contribution>
<contribution type="train" id="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-W}">
<company>東葉高速鉄道</company>
<type>2000系</type>
<name>東葉高速線</name>
<author>北の汽車屋</author>
<description>旧式化した1000系(旧営団5000系)を置き換えるために登場。ベースは05系7次車である。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-9-TOYO2000-B}"/>
 </composition>
</contribution>
 <contribution type="train" id="{757F660D-9BC9-48E4-9E1F-9-TM10000}">
<company>東京メトロ</company>
<type>10000系</type>
<name>有楽町・副都心線</name>
<author>北の汽車屋</author>
<description>東京メトロ副都心線開業に先立ち、2006年に導入が開始された車両。有楽町線でも運用されている。
</description>
<fare>400</fare>
<price>28000000</price>
<amenity>100</amenity>
<speed>medium</speed>
 <class name="freetrain.contributions.train.ParamTrainImpl"/>
 <composition>
   <head carRef="{757F660D-9BC9-48E4-9E1F-9-TM10000-A}"/>
   <body carRef="{757F660D-9BC9-48E4-9E1F-9-TM10000-C}"/>
   <tail carRef="{757F660D-9BC9-48E4-9E1F-9-TM10000-B}"/>
 </composition>
</contribution>
</plug-in>
